<div class="block__title">
	Blog: Great apps and webs for all!
</div>
<div class="block__description">
	Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu.
</div>

<div class="blog__image-container">
	<div class="blog__image">
	</div>
	<div class="blog__content">
		<div class="blog__content-table">
			<div class="blog__content-cell">
				<div class="blog__content-title animate">
					Praesent ipsum mauris volutpat mollis faucibus.
				</div>
				<div class="blog__content-description animated">
					Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor.
				</div>
			</div>
		</div>
	</div>
</div>
