<div class="footer__container">
	<div class="footer__text">
		© Elements Interactive
	</div>

	<div class="footer__links-container">
		<ul>
			<li>
				<a href="#home" class="footer__nav--link">
					Home
				</a>
			</li>
			<li>
				<a href="#carrers" class="footer__nav--link">
					Carrers
				</a>
			</li>
			<li>
				<a href="#about" class="footer__nav--link">
					About
				</a>
			</li>
			<li>
				<a href="#blog" class="footer__nav--link">
					Blog
				</a>
			</li>
			<li>
				<a href="#contact" class="footer__nav--link">
					Contact
				</a>
			</li>
		</ul>
	</div>
</div>
