<header class="header">
	<div id="logo-container">
		<a href="https://www.elements.nl/">
			<img src="/assets/images/mobile/layout/logo-landscape@2x.png" alt="Elements Interactive — We build applications!" width="150" class="header__logo">
		</a>
	</div>
	<nav class="header__nav">
		<ul>
			<li>
				<a href="#home" class="header__nav--link">
					Home
				</a>
			</li>
			<li>
				<a href="#carrers" class="header__nav--link">
					Carrers
				</a>
			</li>
			<!--<li>
				<a href="#about" class="header__nav--link">
					About
				</a>
			</li>-->
			<li>
				<a href="#blog" class="header__nav--link">
					Blog
				</a>
			</li>
			<!--<li>
				<a href="#contact" class="header__nav--link">
					Contact
				</a>
			</li>-->
		</ul>
	</nav>
</header>