<div id="header-container"></div>

<div id="site-container" class="content">
	<div class="content-container">
		<div id="home" class="top__container"></div>
		<div id="main-container" class="main__container"></div>
	</div>
	<div id="footer-container"></div>
</div>

