.comment__container {
  background: $white;
  display: table;
  padding-top: 50px;
  width: 100%;
}

.company-collection-view {
  margin: 0;
  padding: 20px 0;
}

.comment__section {
  @include box-sizing();
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
  width: 100%;

  .input__container {

    &.input {
      @include box-sizing();
        width: 100%;

      @include respond-to(tablet) {
        width: 50%;
      }

      &:nth-child(2n) {
        float: left;
        @include respond-to(tablet) {
          padding: 0 30px 0 0;
        }
      }

      &:nth-child(2n + 1 ) {
        float: right;

        @include respond-to(tablet) {
          padding: 0 0 0 30px;
        }
      }
    }
  }
}

.comment-list-container {
  padding-bottom: 50px;
}

.comments__container{
  border-top: 3px solid $base-button-color;
}

.comment-item-list-view {
  border-bottom: 1px solid $base-grey-color;
  padding: 30px 0;
}

.comment-item-list__user {
  color: $base-grey-color-2;
  font-size: 20px;
}

.comment-item-list__name {
  @include ff_open_sans_bold();
  color: $base-button-color;
  padding-right: 20px;
}

.comment-item-list__comment {
  color: $base-grey-color-2;
  font-size: 20px;
  margin: 30px 0 0;
}
