
<div class="comment__section">
	<form class="comment__form" action="">

		<h3 class="block__title">
			Leave a comment
		</h3>

		<div class="input__container input">
			<label class="required">
				Name
			</label>
			<input type="name" id="form-name" placeholder="Place your name here…"/>
		</div>

		<div class="input__container input">
			<label class="required">
				Email
			</label>
			<input type="email" id="form-email" placeholder="username@company.com"/>
		</div>

		<div class="input__container textarea">
			<label class="required">
				Comment
			</label>
				<textarea name="comment" id="form-comment" placeholder="Place your comment here…"></textarea>
		</div>

		<div class="submit__container">
			<input type="submit" class="action-btn" value="Submit comment" />
		</div>

	</form>
</div>
