<div class="block__title">
	Join a magnificent and fun team
</div>
<div class="block__description">
	Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu.
</div>

<div class="about__city-container">

	<div class="about__city-image bcn_image animated"></div>

	<div class="about__city-info">
		<div class="about__city-logo-container animated">
			<div class="about__city-logo bcn_logo "></div>
		</div>
		<div class="about__city-title animated">
			Barcelona, ES
		</div>

		<div class="about__city-description">
			<p class="animated">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
			</p>
			<p class="animated">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
			</p>
			<p class="animated">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
			</p>
		</div>
	</div>

</div>

<div class="about__city-container">

	<div class="about__city-image almere_image animated">
	</div>

	<div class="about__city-info">
		<div class="about__city-logo-container animated">
			<div class="about__city-logo alemere_logo"></div>
		</div>
		<div class="about__city-title animated  ">
			Almere, NL
		</div>

		<div class="about__city-description">
			<p class="animated">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
			</p>
			<p class="animated">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
			</p>
			<p class="animated">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
			</p>
		</div>
	</div>

</div>

