
<div class="company__section">

	<h2 class="company__main-title animated">
		Creating rock solid applications for web and mobile
	</h2>

	<h3 class="block__title animated">
		Great projects for relevant companies
	</h3>

	<p class="block__description animated">
		Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
	</p>

	<div id="company-container" class="company__container"></div>

	<p class="block__description  animated">
		Duis arcu torror, <a href="">suscipit eget</a>, imperdiet nec, <a href="">contact</a> ipsum.
	</p>
</div>